@import "main.css";

body {
    text-shadow: 0.25cm 0.25cm 0.25cm #000000;
}

div#main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20%;
    height: 40%;
    border-radius: 1cm;
    margin: auto;
    text-align: right;
}

div#main h1 {
    font-size: 2cm;
    margin-bottom: 1cm;
}

div#main a {
    display: inline-block;
    padding: 0.5cm;
    font-size: 1cm;
    text-decoration: none;
    border-radius: 1cm;
    margin-right: -0.5cm;
    transition: background 0.5s;
}

div#main a:visited{
    color: #FAFAFA;
}

div#main a:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

div#main a:active{
    transition: background 0.2s;
    background-color: #D84315;
}

footer {
    position: absolute;
    bottom: 0.5cm;
    left: 0.5cm;
    font-size: 0.7cm;
}